@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 3rem 1rem;
  max-width: 62rem;
}
.container header {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}
.container header nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.container header nav a {
  color: hsl(236deg, 13%, 42%);
  font-size: 0.9rem;
  text-decoration: none;
  transition: color 0.5s ease;
}
.container header nav a:hover {
  color: hsl(5deg, 85%, 63%);
}
.container header .menu__bar {
  display: none;
}
.container .hero {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.container .hero main {
  grid-column: 1/3;
}
.container .hero main .image__section {
  position: relative;
}
.container .hero main .image__section img {
  width: 100%;
  object-fit: cover;
  position: relative;
}
.container .hero main .image__section .desktop-image {
  display: block;
}
.container .hero main .image__section .mobile-image {
  display: none;
}
.container .hero main .text__section {
  padding: 1rem 0;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: space-between;
}
.container .hero main .text__section h1 {
  color: hsl(240deg, 100%, 5%);
  width: 50rem;
  font-weight: 900;
  font-size: 3rem;
}
.container .hero main .text__section .description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.container .hero main .text__section .description p {
  color: hsl(236deg, 13%, 42%);
  line-height: 1.3rem;
  font-size: 0.8rem;
}
.container .hero main .text__section .description button {
  background-color: hsl(5deg, 85%, 63%);
  color: white;
  border: none;
  align-self: flex-start;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
}
.container .hero aside {
  background-color: hsl(240deg, 100%, 5%);
  color: hsl(36deg, 100%, 99%);
  padding: 2rem;
  grid-column: 3/-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .hero aside h1 {
  color: hsl(35deg, 77%, 62%);
  font-size: 2rem;
}
.container .hero aside section {
  line-height: 1.8rem;
}
.container .hero aside section h3 {
  font-size: 1rem;
}
.container .hero aside section p {
  font-size: 0.8rem;
}
.container .hero aside i {
  height: 0.002rem;
  width: 100%;
  display: block;
  border-top: 0.002rem solid hsl(236deg, 13%, 42%);
}
.container .cards {
  display: flex;
  padding: 4rem 0;
  gap: 1.2rem;
  flex-wrap: wrap;
}
.container .cards .card {
  display: flex;
  gap: 1.5rem;
}
.container .cards .card .image__section {
  height: 7rem;
}
.container .cards .card .image__section img {
  height: 100%;
}
.container .cards .card .text__section {
  padding: 0.6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .cards .card .text__section h2 {
  color: hsl(233deg, 8%, 79%);
}
.container .cards .card .text__section h4 {
  font-size: 0.9rem;
  font-weight: 900;
}
.container .cards .card .text__section h4 a {
  color: hsl(240deg, 100%, 5%);
  text-decoration: none;
  transition: color 0.5s ease;
}
.container .cards .card .text__section h4 a:hover {
  color: hsl(5deg, 85%, 63%);
}
.container .cards .card .text__section p {
  max-width: 12rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
  .container header nav {
    display: none;
  }
  .container header .menu__bar {
    display: block;
  }
  .container .hero {
    display: flex;
    flex-direction: column;
  }
  .container .hero .image__section .desktop-image {
    display: none !important;
  }
  .container .hero .image__section .mobile-image {
    display: flex !important;
  }
  .container .hero .text__section {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    flex-wrap: wrap;
    word-wrap: break-word;
    gap: 1rem !important;
  }
  .container .hero .text__section h1 {
    max-width: 100%;
  }
  .container .hero .text__section p {
    padding: 0;
    font-size: 1rem !important;
  }
  .container .hero aside {
    padding: 1rem;
  }
  .container .hero aside section {
    padding: 2rem 0;
  }
  .container .hero aside section h3 {
    font-size: 1.4rem;
  }
  .container .hero aside section p {
    font-size: 1rem;
  }
  .container .cards {
    flex-direction: column;
  }
  .container .cards .card {
    line-height: 3rem;
    align-items: center;
  }
  .container .cards .card .image__section {
    background-color: green;
    height: 10rem;
  }
  .container .cards .card .text__section h2 {
    font-size: 2rem;
  }
  .container .cards .card .text__section h4 {
    font-size: 1.2rem;
    font-weight: 900;
  }
  .container .cards .card .text__section p {
    max-width: 100%;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

/*# sourceMappingURL=main.css.map */
