body{
    display: flex;
    justify-content: center;
}

.container{
    padding: 2rem 0;
    max-width: 72rem;

    header{
        padding: 2rem 0 ;
        display: flex;
        justify-content: space-between;

    nav{
        display: flex;
        gap: 2rem;
        a{
            color: hsl(236, 13%, 42%);
            text-decoration: none;
        }
    }
}
}

