body{
    display: flex;
    justify-content: center;
}

.container{
    padding: 5rem 0;
    max-width: 72rem;

    header{
    display: flex;
    justify-content: space-between;

    nav{
        a{
            text-decoration: none;
        }
    }
}
}

