@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$pc-red: hsl(35, 77%, 62%);
$pc-orange: hsl(5, 85%, 63%);
$sc-off__white: hsl(36, 100%, 99%);
$sc-grayish__blue: hsl(233, 8%, 79%); 
$sc-dark__grayish__blue: hsl(236, 13%, 42%);
$sc-very__dark__blue: hsl(240, 100%, 5%);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Inter',
        sans-serif;
}

.container{
    padding: 3rem 0;
    max-width: 62rem;

    header{
        padding: 2rem 0 ;
        display: flex;
        justify-content: space-between;

    nav{
        display: flex;
        gap: 2rem;
        a{
            color: hsl(236, 13%, 42%);
            text-decoration: none;
        }
    }
}
.hero{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);

    main{
        grid-column: 1/3;
        
        .image__section{
            // width: 10rem;
            // flex: 1;
            // background-color: red;
            position: relative;
            img{
                width: 100%;
                object-fit: cover;
                position: relative;
            }
        }
        .text__section{
            display: flex;
            gap: 5rem;
            align-items: center;
            justify-content: space-between;
            h1{
                color: $sc-very__dark__blue;
                width: 20rem;
                font-weight: 900;
                font-size: 3rem;
            }
            .description{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                p{
                    color: hsl(236, 13%, 42%);
                    width: 25rem;
                    line-height: 1.3rem;
                    font-size: .9rem;
                }
                button{
                    background-color: $pc-orange;
                    color: white;
                    border: none;
                    align-self: flex-start;
                    padding: 1rem 2rem;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: .2rem;
                }
            }
        }
    }
    aside{
        background-color: $sc-very__dark__blue;
        color: $sc-off__white;
        padding: 0 2rem;
        grid-column: 3/-1;
        h1{
            color: $pc-red;
            font-size: 2rem;
        }
        section{
            padding: .5rem 0;
            p{
                font-size: .8rem;
            }
        }
        i{
            height: .002rem;
            width: 100%;
            display: block;
            border-top: .002rem solid $sc-dark__grayish__blue;
        }
    }
}

.cards{
    display: flex;
    padding: 2rem 0;
    gap: 1.5rem;
    justify-content: space-between;
    .card{
        display: flex;
        gap: 1.5rem;
        .image__section{
            height: 7rem;
            img{
                height: 100%;
            }
        }
        .text__section{
            padding: .6rem 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h4{
                font-size: .9rem;
                font-weight: 900;
            }
            p  {
                max-width: 12rem;
                font-size: .8rem;
                line-height: 1.2rem;
            }
        }
    }
}
}

